In [23]:
import mysql.connector

In [24]:
my_db = mysql.connector.connect(host="localhost",user="root",passwd="mysql")

In [25]:
my_cursor=my_db.cursor()

In [26]:
my_cursor.execute("show databases")

In [27]:
for i in my_cursor:
    print(i)

('customers',)
('employees',)
('information_schema',)
('intell',)
('mysql',)
('orderdetails',)
('orders',)
('performance_schema',)
('products',)
('sakila',)
('shippers',)
('sparta',)
('sys',)
('world',)

In [28]:
my_db = mysql.connector.connect(host="localhost",user="root",passwd="mysql",database="sparta")

In [29]:
my_cursor=my_db.cursor()

In [30]:
my_cursor.execute("show tables")

In [31]:
for i in my_cursor:
    print(i)

('emp',)

In [32]:
my_cursor.execute("select * from emp")

In [33]:
for i in my_cursor:
    print(i)

('Sam', 'New Yor')
('Anne', 'Delhi')
('Stalin', 'Moscow')
('Bob', 'London')

In [34]:
sql="insert into emp(name,city) values (%s,%s)"
val=("Bob","London")

In [35]:
my_cursor.execute(sql,val)

In [36]:
my_db.commit()

In [37]:
for i in my_cursor:
    print(i)

In [38]:
my_cursor.execute("select * from emp")

In [39]:
for i in my_cursor:
    print(i)

('Sam', 'New Yor')
('Anne', 'Delhi')
('Stalin', 'Moscow')
('Bob', 'London')
('Bob', 'London')

In [41]:
my_cursor.execute("delete from emp where city='London'")

In [43]:
my_db.commit()

In [46]:
my_cursor.execute("select * from emp")

In [47]:
for i in my_cursor:
    print(i)

('Sam', 'New Yor')
('Anne', 'Delhi')
('Stalin', 'Moscow')

In [48]:
sql="insert into emp(name,city) values (%s,%s)"
val=("Bob","London")

In [49]:
my_cursor.execute(sql,val)

In [50]:
my_db.commit()

In [51]:
my_cursor.execute("select * from emp")

In [52]:
for i in my_cursor:
    print(i)

('Sam', 'New Yor')
('Anne', 'Delhi')
('Stalin', 'Moscow')
('Bob', 'London')

In [53]:
sql="insert into emp(name,city) values (%s,%s)"
val=[("Julie","New Jersey"),("Rupert","Paris"),("Edward","Spain")]

In [54]:
my_cursor.executemany(sql,val)

In [55]:
my_db.commit()

In [56]:
my_cursor.execute("select * from emp")

In [57]:
for i in my_cursor:
    print(i)

('Sam', 'New Yor')
('Anne', 'Delhi')
('Stalin', 'Moscow')
('Bob', 'London')
('Julie', 'New Jersey')
('Rupert', 'Paris')
('Edward', 'Spain')

In [58]:
my_cursor.execute("update emp set name='Anjali' where city='Delhi'")

In [59]:
my_db.commit()

In [60]:
my_cursor.execute("select * from emp")

In [61]:
for i in my_cursor:
    print(i)

('Sam', 'New Yor')
('Anjali', 'Delhi')
('Stalin', 'Moscow')
('Bob', 'London')
('Julie', 'New Jersey')
('Rupert', 'Paris')
('Edward', 'Spain')